{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/vinyls/vinyls.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Vinyls</h1>
  <img src="{% static 'images/JayZ.jpg' %}" alt="In My Lifetime-Vol.1" />
  <img src="{% static 'images/JimiHendrix.jpg' %}" alt="Experience Hendrix-The Best of Jimi Hendrix" />
  <img src="{% static 'images/Drake.jpg' %}" alt="Views" />
</section>

<section class="card-container">
    {% for vinyl in vinyls %}
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/records.jpg' %}"
              alt="Collection of vinyl records"
            />
          </div>
          <h2 class="card-title">{{ vinyl.name }}</h2>
          <p><strong>Artist:</strong> {{ vinyl.artist }}</p>
          <p><strong>Genre:</strong> {{ vinyl.genre }}</p>
          <p>{{ vinyl.description }}</p>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}
