{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/vinyls/vinyls.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Vinyls</h1>
  <img src="{% static 'images/vinyl-cone.jpg' %}" alt="Records in an ice-cream cone" />
</section>

<section class="card-container">
  {% for vinyl in vinyls %}
    <div class="card">
      <a href="/vinyls/{{ vinyl.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/vinyl-box.jpg' %}"
              alt="Collection of vinyl records"
            />
          </div>
          <h2 class="card-title">{{ vinyl.name }}</h2>
          <p><strong>Artist:</strong> {{ vinyl.artist }}</p>
          <p><strong>Genre:</strong> {{ vinyl.genre }}</p>
          <p>{{ vinyl.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
