{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/playlist/playlist-index.css' %}" />
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-content">
    <section class="page-header">
      <h1>My Playlist</h1>
  {% comment %} <img src="{% static 'images/vinyl-cone' %}" alt="Vinyls in an ice cream cone" />   {% endcomment %}
    </section>
  </div>
</div>



<section class="card-container">
  {% for playlist in playlist_list %}
    <div class="card">  
    <a href="{% url 'playlist-detail' playlist.id %}">
      <div class="card-content">
        <div class="card-bg" style="button"></div>
        <h2>{{ playlist.name }}</h2>
      </div>
    </a>
    </div>
  {% endfor %}
</section>


{% endblock %}
