{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/playlist/playlist-detail.css' %}" />
{% endblock %} {% block content %}

<div class="playlist-details">
  <div class="card-content">
    <h1><strong>{{ playlist.name }}<strong></h1>
  </div>
</div>

<a href="{% url 'playlist-update' playlist.id %}" class="btn warn">Edit</a>
<a href="{% url 'playlist-delete' playlist.id %}" class="btn danger">Delete</a>

<div class="playlist-song-container">
  <section class="playlist">
    <div class="subsection-title">
      <h2>Songs</h2>
    </div> 
    <h3>Songs on Playlist</h3>
    {% if playlist.songs.count %}   
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          {% for song in playlist.songs.all %}
          <tr>
            <td>{{song.title}}</td>
            <td>{{song.duration}}</td>
            <form action="{% url 'remove-playlist-song' playlist.id song.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Remove Song</button>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %} 
      <div class="subsection-content">
        <p class="no-song"> {{playlist.name}} has no songs!</p>
      </div>
    {% endif %}    
  </section>
  
  <div class="playlist-song-container">
    <section class ="playlist">
      <div class="subsection-title">
        <h2>Available Songs</h2>
      </div>
      {% for song in songs %}
      <form action="{% url 'add-playlist-song' playlist.id song.id %}" method="post" class="subsection-content" autocomplete="off">
        {% csrf_token %}
        <button type="submit" class="btn submit">Add "{{song.title}}"</button>
      </form>
      {%  endfor %}       
    </section> 
  </div>

</div>
{% endblock %}
