
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px;  
}


.card {
  width: 90%;
  max-width: 400px;
  margin: 30px 0;  
  padding: 25px;   
  border: solid 2px #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.playlist-song-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 30px;  
  width: 100%;
  padding: 30px 0;
}
.playlist-song-container section {
  background-color: #f9f9f9;
  padding: 25px;  
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.subsection-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;  
  font-weight: bold;
  font-size: 1.2em;
}


.song-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px; 
}

.song-container p {
  margin: 0;
  font-size: 1em;
}

.song-container .btn {
  padding: 10px 20px; 
  font-size: 1em;
}


.playlist table {
  width: 100%;
  margin: 25px 0;  
  border-collapse: collapse;
}

.playlist th, .playlist td {
  text-align: left;
  padding: 12px;  
  border-bottom: 1px solid #ddd;
}

.playlist th {
  font-size: 1.1em;
}

.playlist td {
  font-size: 1em;
}


.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 25px;  
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;  
}

.btn:hover {
  background-color: #45a049;
}

.no-song {
  font-size: ​⬤
}