{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'images/single-record.jpg'%}"
    />
    <title>The Vinyl Collector</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} {% endblock %}
  </head>

  <body>
    <header>
      <div class="header-logo-container">
        {% comment %} <a href="/">
          <img
            src="{% static 'images/single-record.jpg' %}"
            alt="The Vinyl Collector Logo"
          />
        </a> {% endcomment %}
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'vinyls' %}">All Vinyls</a></li>
          <li><a href="{% url 'playlist-index' %}">All Playlist</a></li>
          <li><a href="{% url 'vinyl-create' %}">Add a Vinyl</a></li>
          <li><a href="{% url 'playlist-create' %}">Add Playlist</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
